In [27]:
import os

In [28]:
os.getcwd()

'c:\\Users\\SAMSUNG\\Desktop\\CodingTest\\003_Coding수업자료'

In [29]:
import sys

In [30]:
sys.path.append("c:/Users/SAMSUNG/Desktop/")

In [31]:
import Import

In [33]:
Import

NameError: name 'sns' is not defined

In [ ]:
sys.path.append("../001_Programers/002_난이도1/")

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel(r"C:\Users\SAMSUNG\Desktop\koweps2021_codebook_origin.xlsx")

,변수명\n(기존변수에서 차수를 삭제한 형태),해당 차수,구분,변수설명,문항내용,Unnamed: 5
0,h_merkey,1-15차,가구식별변수,패널간 가구머지 키변수,가구 패널 ID + 가구생성차수 + 가구분리일련번호\n* 관측치(가구)에 부여된 고...,NaN
1,year\n(year01~year15),1-15차,활용변수,조사 기준 연도,년\n※ wide 타입 데이터: 변수 year01~year15,NaN
2,wv\n(wv01~wv15),1-15차,NaN,조사 차수,"1. 1차 ~ 15, 15차\n※ wide 타입 데이터: 변수 wv01~wv155 ...",NaN
3,wv_num,1-15차,NaN,조사된 횟수,1. 1회 ~ 15. 15차,NaN
4,first_wv,1-15차,NaN,첫 조사 차수,1. 1차 ~ 15. 15차,NaN
...,...,...,...,...,...,...
1808,h17_3,1~15차,NaN,(가) 가족원간 의견충돌이 잦은 경우,1.전혀그렇지 않다 2.그렇지 않은 편이다 3.보통이다\n...,NaN
1809,h17_4,1~15차,NaN,(나) 가족원간 화가 나서 물건을 집어 던지는 경우,위와같음,NaN
1810,h17_5,1~15차,NaN,(다) 가족원간 침착하게 문제를 논의하는 경우,NaN,NaN
1811,h17_6,1~15차,NaN,(라) 가족원간 자주 서로 비난하는 경우,NaN,NaN
1812,h17_7,1~15차,NaN,(마) 가족원간 가끔 때리는 경우,NaN,NaN